/* css styles */

/*-- scss:defaults --*/
/*$body-bg: #021526;*/
/*$body-color: #FFFFFF;*/

/*font*/
$font-family-sans-serif: "Birthstone";
/*$font-size: 12px;*/
/*$link-color: #E55807;*/
/*$code-color: #33eea5;*/
/*$code-block-bg: #efe8e8;*/
/*$navbar-bg: #164859;*/
/*$navbar-fg: #e0e6e6;*/

#bioFont {
font-family: Georgia, serif;
font-size: 20px;
letter-spacing: -0.4px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
.flex-container { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  
} 


/*.text-content {
  flex: 1;
  padding-right: 20px;
  }
  
.image-content {
  flex: 1; 
  
}*/


/*by tag*/ 
/*h1 {
  
}*/

/*by class*/
/*.align-left {
  display: flex;
  align-items: center;
}*/

/*.align-left img {
  margin-left: 20px;
}*/
/*.birthstone-regular {
  font-family: "Birthstone", serif;
  font-weight: 400;
  font-style: normal;
}*/

/*by id */
/*#title-text{
  
}*/

/*pseudo class*/
/*a.navbar:hover{
  color:bleu;
}
a.navbar:active{
  color:darkblue;
}*/